# Tugas 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create dataset from Google Drive
dataset_url = "https://raw.githubusercontent.com/maulanamaib/datamin/master/dataa.csv"
df = pd.read_csv(dataset_url, index_col='no')

In [ ]:
df

,anvisits,gender,income,income1,income2,income3,income4,travel,travel1,travel2,travel3
no,,,,,,,,,,,
1,NaN,1.0,4.0,0.0,0.0,0,1.0,N,NaN,NaN,NaN
2,NaN,1.0,2.0,0.0,1.0,0,0.0,A,NaN,NaN,NaN
3,NaN,1.0,4.0,0.0,0.0,0,1.0,N,NaN,NaN,NaN
4,NaN,2.0,2.0,0.0,1.0,0,0.0,A,NaN,NaN,NaN
5,NaN,1.0,4.0,0.0,0.0,0,1.0,A,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17,NaN,NaN,NaN,NaN,NaN,A,NaN,N,A,NaN,NaN
18,NaN,1.0,NaN,NaN,NaN,A,NaN,N,A,NaN,NaN
19,NaN,2.0,1.0,1.0,0.0,0,0.0,A,NaN,NaN,NaN
20,12.0,2.0,3.0,0.0,0.0,1,0.0,N,NaN,NaN,NaN
21,100.0,2.0,4.0,0.0,0.0,0,1.0,A,NaN,NaN,NaN

In [ ]:
# Show dataset shape
number_of_columns = df.shape[1]

In [ ]:
# Show all columns for dataset
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [ ]:
# Show all columns from dataframe
df.columns

Index(['anvisits', 'gender', 'income', 'income1', 'income2', 'income3',
       'income4', 'travel', 'travel1', 'travel2', 'travel3'],
      dtype='object')

#Categorical/Nomimal Features

In [ ]:
df[["gender","income", "travel"]].head(5)

    gender  income travel
no
1      1.0     4.0      N
2      1.0     2.0      A
3      1.0     4.0      N
4      2.0     2.0      A
5      1.0     4.0      A

In [ ]:
# embark code
code_embark_for_cherbourg = "N"
code_embark_for_southampton = "A"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_embark_to_biner(travel):
    return value_of_one if travel == code_embark_for_southampton else value_of_zero

In [ ]:
# Update all values of 'Embarked' series
df["travel"] = df["travel"].apply(change_code_embark_to_biner)

In [ ]:
df[["gender","income", "travel"]].head(5)

    gender  income  travel
no
1      1.0     4.0       0
2      1.0     2.0       1
3      1.0     4.0       0
4      2.0     2.0       1
5      1.0     4.0       1

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
    return df.loc[(idx), series]

In [ ]:
def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["income", "travel"]).T

          1    2
income  4.0  2.0
travel    0    1

In [ ]:
df.loc[0:5, ["income", "travel"]]

    income  travel
no
1      4.0       0
2      2.0       1
3      4.0       0
4      2.0       1
5      4.0       1

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
df_1_2 = get_dissimilarity_dataset(df, [1,2], ["income", "travel"])

In [ ]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [ ]:
# d(1,3)
df_1_3 = get_dissimilarity_dataset(df, [1,3], ["income", "travel"])

In [ ]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [ ]:
# d(1,4)
df_1_4 = get_dissimilarity_dataset(df, [1,4], ["income", "travel"])

In [ ]:
c_df_1_4 = count_contingency_value(df_1_4, 1, 4)

In [ ]:
# d(1,5)
df_1_5 = get_dissimilarity_dataset(df, [1,5], ["income", "travel"])

In [ ]:
c_df_1_5 = count_contingency_value(df_1_5, 1, 5)

#Dissimilarity Binary Assymetric Value Formula
$$ -Î£_i^n p_i log_2 p_i$$

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)

In [ ]:
d_1_2

1.0

In [ ]:
d_1_3

1.0

In [ ]:
d_1_4

1.0

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)